<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<!-- Apple devices fullscreen -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<!-- Apple devices fullscreen -->
	<meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	
	<title>[title]</title>

	<!-- Bootstrap -->
	<link rel="stylesheet" href="__BACK__/css/bootstrap.min.css">
	<!-- Bootstrap responsive -->
	<link rel="stylesheet" href="__BACK__/css/bootstrap-responsive.min.css">
	<!-- jQuery UI -->
	<link rel="stylesheet" href="__BACK__/css/plugins/jquery-ui/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="__BACK__/css/plugins/jquery-ui/smoothness/jquery.ui.theme.css">
	<!-- PageGuide -->
	<link rel="stylesheet" href="__BACK__/css/plugins/pageguide/pageguide.css">
	<!-- Fullcalendar -->
	<link rel="stylesheet" href="__BACK__/css/plugins/fullcalendar/fullcalendar.css">
	<link rel="stylesheet" href="__BACK__/css/plugins/fullcalendar/fullcalendar.print.css" media="print">
	<!-- chosen -->
	<link rel="stylesheet" href="__BACK__/css/plugins/chosen/chosen.css">
	<!-- select2 -->
	<link rel="stylesheet" href="__BACK__/css/plugins/select2/select2.css">
	<!-- icheck -->
	<link rel="stylesheet" href="__BACK__/css/plugins/icheck/all.css">
	<!-- Theme CSS -->
	<link rel="stylesheet" href="__BACK__/css/style.css">
	<!-- Color CSS -->
	<link rel="stylesheet" href="__BACK__/css/themes.css">


	<!-- jQuery -->
	<script src="__BACK__/js/jquery.min.js"></script>
	
	
	<!-- Nice Scroll -->
	<script src="__BACK__/js/plugins/nicescroll/jquery.nicescroll.min.js"></script>
	<!-- jQuery UI -->
	<script src="__BACK__/js/plugins/jquery-ui/jquery.ui.core.min.js"></script>
	<script src="__BACK__/js/plugins/jquery-ui/jquery.ui.widget.min.js"></script>
	<script src="__BACK__/js/plugins/jquery-ui/jquery.ui.mouse.min.js"></script>
	<script src="__BACK__/js/plugins/jquery-ui/jquery.ui.draggable.min.js"></script>
	<script src="__BACK__/js/plugins/jquery-ui/jquery.ui.resizable.min.js"></script>
	<script src="__BACK__/js/plugins/jquery-ui/jquery.ui.sortable.min.js"></script>
	<!-- Touch enable for jquery UI -->
	<script src="__BACK__/js/plugins/touch-punch/jquery.touch-punch.min.js"></script>
	<!-- slimScroll -->
	<script src="__BACK__/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<!-- Bootstrap -->
	<script src="__BACK__/js/bootstrap.min.js"></script>
	<!-- vmap -->
	<script src="__BACK__/js/plugins/vmap/jquery.vmap.min.js"></script>
	<script src="__BACK__/js/plugins/vmap/jquery.vmap.world.js"></script>
	<script src="__BACK__/js/plugins/vmap/jquery.vmap.sampledata.js"></script>
	<!-- Bootbox -->
	<script src="__BACK__/js/plugins/bootbox/jquery.bootbox.js"></script>
	<!-- Flot -->
	<script src="__BACK__/js/plugins/flot/jquery.flot.min.js"></script>
	<script src="__BACK__/js/plugins/flot/jquery.flot.bar.order.min.js"></script>
	<script src="__BACK__/js/plugins/flot/jquery.flot.pie.min.js"></script>
	<script src="__BACK__/js/plugins/flot/jquery.flot.resize.min.js"></script>
	<!-- imagesLoaded -->
	<script src="__BACK__/js/plugins/imagesLoaded/jquery.imagesloaded.min.js"></script>
	<!-- PageGuide -->
	<script src="__BACK__/js/plugins/pageguide/jquery.pageguide.js"></script>
	<!-- FullCalendar -->
	<script src="__BACK__/js/plugins/fullcalendar/fullcalendar.min.js"></script>
	<!-- Chosen -->
	<script src="__BACK__/js/plugins/chosen/chosen.jquery.min.js"></script>
	<!-- select2 -->
	<script src="__BACK__/js/plugins/select2/select2.min.js"></script>
	<!-- icheck -->
	<script src="__BACK__/js/plugins/icheck/jquery.icheck.min.js"></script>

	<!-- Theme framework -->
	<script src="__BACK__/js/eakroko.min.js"></script>
	<!-- Theme scripts -->
	<script src="__BACK__/js/application.min.js"></script>
	<!-- Just for demonstration -->
	<script src="__BACK__/js/demonstration.min.js"></script>
	
	<!--[if lte IE 9]>
		<script src="__BACK__/js/plugins/placeholder/jquery.placeholder.min.js"></script>
		<script>
			$(document).ready(function() {
				$('input, textarea').placeholder();
			});
		</script>
	<![endif]-->

	<!-- Favicon -->
	<link rel="shortcut icon" href="__BACK__/img/favicon.ico" />
	<!-- Apple devices Homescreen icon -->
	<link rel="apple-touch-icon-precomposed" href="__BACK__/img/apple-touch-icon-precomposed.png" />

</head>


<body>
