<body class='login'>
	<div class="wrapper">
		<h1><a href="index.html"><img src="__BACK__/img/logo-big.png" alt="" class='retina-ready' width="59" height="49">后台管理系统</a></h1>
		<div class="login-body">
			<h2>登陆</h2>
			<form action="index.html" method='get' class='form-validate' id="test">
				<div class="control-group">
					<div class="email controls">
						<input type="text" name='admin_name' placeholder="输入用户名" class='input-block-level' data-rule-required="true" data-rule-email="true">
					</div>
				</div>
				<div class="control-group">
					<div class="pw controls">
						<input type="password" name="password" placeholder="输入密码" class='input-block-level' data-rule-required="true">
					</div>
				</div>
				<div class="submit">
					<div class="remember">
						<input type="checkbox" name="remember" class='icheck-me' data-skin="square" data-color="blue" id="remember"> <label for="remember">记住我</label>
					</div>
					<input type="submit" value="登陆" class='btn btn-primary'>
				</div>
			</form>
			<div class="forget">
				<a href="#"><span>忘记密码?</span></a>
			</div>
		</div>
	</div>
